<table>
    <%- users.each do |name| -%>
        <tr>
            <th class="list-group-item"><a href="/user/<%= name.username %>"><%= name.username %></a> <%= name.password %> <%= name.email %></th>
        </tr>
    <%- end -%>
</table> 

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>



